.cart {
  padding-right: 30px;
  padding-left: 30px;
  display: inline-block;
}
.header {
  background-color: white;
  width: 1400px;
  padding-left: 115px;
  padding-right: 115px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
}

.header img {
  display: inline-block;
}

.main {
  background-color: #1c1e23;
  background-image: url("../img/main/iphone-6.png");
  background-position: 900px center;
  background-repeat: no-repeat;
  height: 500px;
  padding-right: 115px;
  padding-left: 115px;
}
.menu {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 115px;
  padding-right: 115px;
}
.buy-button {
  background-color: #2754eb;
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  text-decoration: none;
}
.menu-item {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  text-decoration: none;
  color: #b9bed1;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.menu-item-wrapper {
  list-style-type: none;
  display: inline;
}
.menu-wrapper {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.nav-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  text-decoration: none;
  color: #000000;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navigation {
  padding-left: 150px;
  padding-right: 150px;
}
.search-form {
  display: inline-block;
}
.header-button {
  border-color: #e4e5e7;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}
.cart__icon {
  height: 20px;
  padding-top: 10px;
}
.cart__counter {
  background-color: #e4e5e7;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
}
.cart__label {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  text-decoration: none;
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.main__banner-header {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 42px;
  text-decoration: none;
  width: 400px;
  padding-bottom: 40px;
  padding-left: 215px;
  padding-top: 100px;
}
.main__description {
  color: #ffffff;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  text-decoration: none;
  width: 400px;
  padding-bottom: 60px;
  padding-left: 215px;
}
.main__buy-button {
  padding-left: 215px;
}
.menu__support-item {
  position: absolute;
  right: 415px;
}
.menu-item_active {
  color: #000000;
}
.search-form__search-button {
  background-color: #e4e5e7;
  border: none;
  background-image: url("../img/search-form/__search-button/SearchIcon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-position: 0px 0px;
  padding-left: 16px;
  vertical-align: middle;
}
.search-form__search-input {
  background-color: #ffffff;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  text-decoration: none;
  color: #b9bed1;
  padding: 0px;
  height: 20px;
  width: 150px;
}