.header {
  text-align: center;
  margin-top: 200px;
}
.header-openmodal {
  font-family: Arial;
  font-size: 30px;
  border: 5px solid;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #607D8D;
}
.header-openmodal:hover {
  text-decoration: none;
}
.text {
  text-align: center;
  font-size: 15px;
  color: #607D8D;
  margin-top: 50px;
}
.overlay {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 77777;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.15s;
          transition: opacity 0.15s;
}
.overlay:target {
  opacity: 1;

  pointer-events: auto;

}
.overlay:target + .modalDialog {
  opacity: 1;
}
.modalDialog {
  width: 400px;
  height: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 15% auto ;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -webkit-linear-gradient(#ffffff, #999999);
  background: linear-gradient(#ffffff, #999999);
  opacity: 0;
  z-index: 88888;
  text-align: center;
  -webkit-transition: opacity 0.15s ease-in;
          transition: opacity 0.15s ease-in;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  z-index: 99999;
}
.close:hover {
  background: #00d9ff;
}
