.header-button {	
	border-color: #e4e5e7;
	border-width: 3px;
	border-style: solid;
	border-radius: 20px; 
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;		
	display: inline-block;		
}