@font-face {
  font-family: 'et-line';
  src: url("../fonts/et-line.eot");
  src: url("../fonts/et-line.eot?#iefix") format('embedded-opentype'),url("../fonts/et-line.woff") format('woff'),url("../fonts/et-line.ttf") format('truetype'),url("../fonts/et-line.svg#et-line") format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

.main,
body,
html {
  width: 100%;
  height: 100%;
}

body,
html {
  margin: 0;
}

a {
  color: #19bc9b;
  text-decoration: none;
}

.main {
  text-align: center;
  display: block;
}

.main-title {
  margin-bottom: 20%;
}

.main-title h1 {
  font-family: 'Ubuntu';
  color: #fff;
  font-size: 56px;
  font-weight: 400;
  line-height: 67px;
  text-align: center;
}

.main-title h2,
.main-title h3,
.what-we-do-header h1,
.what-we-do-header h3 {
  font-family: 'Ubuntu';
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 67px;
  text-align: center;
}

.main-title h3,
.what-we-do-header h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-form {
  display: inline-block;
  margin-bottom: 50px;
  padding: 0;
  text-align: top;
}

.main-form-input {
  display: inline;
  font-family: 'Ubuntu';
  color: #929292;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  text-align: left;
  margin: 0;
}

.main-desc,
.main-form-button {
  font-family: 'Ubuntu';
  color: #fff;
  font-weight: 300;
}

.main-form-button {
  display: inline-block;
  background-color: #1abc9c;
  width: 160px;
  height: 50px;
  text-align: center;
  border: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.main-desc {
  font-size: 16px;
  line-height: 27px;
}

.main-desc,
.what-we-do {
  text-align: center;
  margin-bottom: 100px;
}

.what-we-do-header {
  margin: 50px;
}

.what-we-do-header-icon {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #4c4c4c;
  font-size: 63px;
  line-height: 27px;
  text-align: center;
}

.what-we-do-header h3 {
  color: #a5a5a5;
  font-size: 15px;
  line-height: 20px;
}

.what-we-do-header h1 {
  color: #4c4c4c;
  font-size: 61px;
  line-height: 61px;
}

.what-we-do-block {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.what-we-do-block-icon {
  display: block;
  margin: 20px;
  font-size: 69px;
  line-height: 27px;
  text-align: center;
}

.what-we-do-block-icon-1 {
  color: #4796b7;
}

.what-we-do-block-icon-2 {
  color: #9f5cd8;
}

.what-we-do-block-icon-3 {
  color: #f1438a;
}

.menu-items li a,
.what-we-do-block-desc,
.what-we-do-block-title {
  font-family: 'Ubuntu';
  color: #4c4c4c;
  font-size: 27px;
  font-weight: 400;
  line-height: 67px;
  text-align: center;
}

.what-we-do-block-desc {
  color: #939598;
  font-size: 16px;
  line-height: 27px;
  display: block;
}

.menu {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,.19);
  margin-top: 10px;
}

.menu-img {
  display: block;
  text-align: center;
}

.menu-items {
  display: inline-block;
}

.menu-items li {
  display: inline;
}

.menu-items li a {
  color: #a69999;
  font-size: 15px;
  line-height: 30px;
  padding-right: 10px;
  text-transform: uppercase;
}

.menu-items li a,
.menu-items li a:hover {
  text-decoration: none;
}

.menu-social {
  display: block;
  font-size: 27px;
  line-height: 27px;
  text-align: center;
}

.menu-social-1 {
  color: #3b5998;
}

.menu-social-2 {
  color: #00aced;
}